<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Cyber Attack</title>
      <link rel="icon" href="static/images/app-icon.jpg" type="image/icon type">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icons -->
      <link rel="icon" href="static/images/fevicon/logo.jpg" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="static/css/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="static/css/responsive.css" />
      <!-- colors css -->
      <link rel="stylesheet" href="static/css/colors.css" />
      <!-- wow animation css -->
      <link rel="stylesheet" href="static/css/animate.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="default_theme" class="home_page1">
      <!-- header -->
      <header class="header header_style1">
         <div class="container">
            <div class="row">
               <div class="col-md-9 col-lg-10">
                  <div class="logo"><a href="{{url_for('index')}}"><img src="static/images/IDDS.png" alt="#" /></a></div>
                  <div class="main_menu float-right">
                     <div class="menu">
                        <ul class="clearfix">
                           <li class="active"><a href="{{url_for('index')}}">Home</a></li>
                           <li><a href="{{url_for('about')}}">About</a></li>
                           <li><a href="{{url_for('load')}}">Registration</a></li>
                           <!-- <li><a href="{{url_for('view')}}">View</a></li> -->
                           <!-- <li><a href="{{url_for('preprocess')}}">Preprocessing</a></li> -->
                           <!-- <li><a href="{{url_for('model')}}">Model Training </a></li> -->
                          
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-lg-2">
                  <div class="right_bt"><a class="bt_main" href="{{url_for('prediction')}}">Prediction</a> </div>
               </div>
            </div>
         </div>
      </header>

      <section id="banner_parallax" class="slide_banner1">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <div class="slide_cont">
                        <h2 style="right: 150px;bottom: 74px;">Register To Your Account  </h2>
                        <!-- <h2 style="right: 150px;bottom: 82px;">APP</h2> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end header -->

 <!-- Registration Start -->
 <div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- <div class="col-lg-7 mb-5 mb-lg-0">
                <p class="section-title pr-5"><span class="pr-2">Book A Seat</span></p>
                <h1 class="mb-4">Book A Seat For Your Kid</h1>
                <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                    ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                    dolor</p>
                <ul class="list-inline m-0">
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Labore eos amet dolor amet diam</li>
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Etsea et sit dolor amet ipsum</li>
                    <li class="py-2"><i class="fa fa-check text-success mr-3"></i>Diam dolor diam elitripsum vero.</li>
                </ul>
                <a href="" class="btn btn-primary mt-4 py-2 px-4">Book Now</a>
            </div> -->
            <div class="col-lg-5" style="left: 318px;">
                <div class="card border-0">
                    <div class="card-header bg-secondary text-center p-4" style="background-color: black;">
                        <h1  style="color:orange;background-color: black;">User Registration</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form action="{{url_for('registration')}}" method="post" >
                           <center style="color:white;">{{msg}}</center>
                            <div class="form-group">
                                <input type="text" name="username"class="form-control border-0 p-4" placeholder="Enter Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" name="useremail"class="form-control border-0 p-4" placeholder="Enter Your Email" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="userpassword"class="form-control border-0 p-4" placeholder="Enter Your Password" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="conpassword"class="form-control border-0 p-4" placeholder="Enter Your Confirm Password" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="address"class="form-control border-0 p-4" placeholder="Enter Your Address" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="tel" name="contact"class="form-control border-0 p-4" placeholder="Enter Your Contact No" pattern="[0-9]{10}" title="Contact number shound not be  < 10 digits" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="Age"class="form-control border-0 p-4" placeholder="Enter Your Age" required="required" />
                            </div>
                            
                            <div>
                                <button class="btn btn-secondary btn-block border-0 py-3" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->
















      
    <!-- footer -->
    <footer class="footer_style_2">
        <div class="footer_top">
           <div class="container">
              <div class="row">
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin_bottom_30">
                    <div class="full width_9" style="margin-bottom:25px;"> <a href="index.html"><img class="img-responsive" width="250" src="static/images/Capture.png" alt="#"></a> </div>
                    <div class="full width_9">
                       <p align = "justify"style="width: 600px;">Cyber-crime is proliferating everywhere exploiting every kind of vulnerability to the computing environment. Ethical Hackers pay
                          more attention towards assessing vulnerabilities and recommending mitigation methodologies. The development of effective
                          techniques has been an urgent demand in the field of the cyber security community. Most techniques used in today’s IDS are not able
                          to deal with the dynamic and complex nature of cyber-attacks on computer networks. Machine learning for cyber security has become
                          an issue of great importance recently due to the effectiveness of machine learning in cyber security issues. Machine learning
                          techniques have been applied for major challenges in cyber security issues like intrusion detection, malware classification and
                          detection, spam detection and phishing detection. Although machine learning cannot automate a complete cyber security system, it
                          helps to identify cyber security threats more efficiently than other software-oriented methodologies, and thus reduces the burden on
                          security analysts. Hence, efficient adaptive methods like various techniques of machine learning can result in higher detection rates,
                          lower false alarm rates and reasonable computation and communication costs. Our main goal is that the task of finding attacks is
                          fundamentally different from these other applications, making it significantly harder for the intrusion detection community to employ
                          machine learning effectively. </p>
                    </div>
                    <div class="full width_9">
                       <!-- <p>the vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati..</p> -->
                    </div>
                 </div>
                 <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
                    <div class="full">
                       <div class="footer_blog_2 width_9">
                          <h3>Twitter Feed</h3>
                          <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                             Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
                          </p>
                          <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                             Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
                          </p>
                       </div>
                    </div>
                 </div> -->
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 margin_bottom_30"style="left: 0px;margin-left: 290px;">
                    <div class="full">
                       <div class="footer_blog_2">
                          <h3>Social</h3>
                       </div>
                    </div>
                    <div class="full">
                       <ul class="footer-links">
                          <li><a href="#"><i class="fa fa-facebook"></i> 256 Likes</a></li>
                          <li><a href="#"><i class="fa fa-github"></i> 57+ Projects</a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i> 1,258 Followers</a></li>
                          <li><a href="#"><i class="fa fa-pinterest"></i> 2538+ Pins</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
                    <div class="full">
                       <div class="footer_blog_2 width_9">
                          <h3>Blog</h3>
                       </div>
                       <div class="blog_post_footer">
                          <div class="blog_post_img"> <img width="80" height="80" src="static/images/scr1.png" alt="#"> </div>
                          <div class="blog_post_cont">
                             <p class="date">July 22, 2015</p>
                             <p class="post_head">Round and round like a carousel</p>
                          </div>
                       </div>
                       <div class="blog_post_footer">
                          <div class="blog_post_img"> <img width="80" height="80" src="static/images/scr2.png" alt="#"> </div>
                          <div class="blog_post_cont">
                             <p class="date">July 22, 2015</p>
                             <p class="post_head">Round and round like a carousel</p>
                          </div>
                       </div>
                       <div class="blog_post_footer">
                          <div class="blog_post_img"> <img width="80" height="80" src="static/images/scr3.png" alt="#"> </div>
                          <div class="blog_post_cont">
                             <p class="date">July 22, 2015</p>
                             <p class="post_head">Round and round like a carousel</p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- footer bottom -->
        <div class="footer_bottom">
         <p style="color:white"><strong> Designed and developed by @GroupA4.  All rights reserved</strong></p>
        </div>
     </footer>
     <!-- end footer -->
     <!--=========== js section ===========-->
     <!-- jQuery (necessary for Bootstrap's JavaScript) -->
     <script src="static/js/jquery.min.js"></script>
     <script src="static/js/popper.min.js"></script>
     <script src="static/js/bootstrap.min.js"></script>
     <!-- wow animation -->
     <script src="static/js/wow.js"></script>
     <!-- custom js -->
     <script src="static/js/custom.js"></script>
     <!-- google map js -->
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
     <!-- end google map js -->
  </body>
  </html>